
<!DOCTYPE html>
<html>
<head>
  <title>Ana's Legacy</title>
</head>
<body>
    <div class="navigation">
  
    </div>

  <table border=3>
<tr>
    <td>Name:</td>
    <td>Price:</td>
</tr>

    <h2>The Raffle List</h2>
    <table border=3>
    <ul>
 
      <% @raffles.each do |raffle| %>
         <tr>
        <td><%= raffle.name_of_raffle %></td>
        <td><%= raffle.ticket_price %></td>
      <% end %>
       </tr>
    </ul>  
      </tbody>
</table>
 
    <div class="footer">
      <p>All donations will go to the Lustgarten Foundation!</p>
      <a href="/">Home Page</a>
    </div>    
</body>
</html>
