<h1> Donations on all Raffles </h1>

<p>
  Number of Tickets: <%= @raffle.ticket_price %>
</p>
Donated by:
  <% @raffle.donations.each do |donation| %>
    <%=  donation.user.username %>
  <% end %>
  