<!DOCTYPE html>
<html> 
<head>

<title>Home | Fundraiser App</title> </head>

<body>
<h1>Fundraiser App</h1> <p>
In honor of Ana G
<a href="https://lustgarten.org/">For Pancreatic Cancer research</a> 

<%= button_to "Log in with Google", '/auth/google_oauth2'%>

</p> 
</body>
</html>


