<h1>Welcome <%=@user.username %></h1>

<h3> Thank you for donating! <h3>

 You have donated to the following raffles:
 
<% @user.raffles.each do |raffle| %>
  <p><%= link_to raffle.name_of_raffle, raffle_path(raffle) %></p>
<% end %>






