Welcome,

<h2><%= current_user.username %> </h2> has donated to the following raffles:
 
<% @user.raffles.each do |raffle| %>
  <%= link_to raffle.name_of_raffle, raffle_path(raffle) %>
<% end %>






