<h2>Welcome</h2>, <%= current_user.username %>

    <% Donations.all.each do |donation| %>
        <h3><%= link_to raffle.name_of_raffle, donation_path(donation) %</h3>>

   
        <%# <li>
            <p><%= donation.raffle %><p> %>