<h3><%= @donation.raffles.name_of_raffle%></h3>

<p>Number of Tickets: <%=@donation.raffle.ticket_price%></p>
<P>Name of Raffle: <%=@donation.raffle.name_of_raffle%></p>
<a href="<%=raffle_path(@donation.raffle)%>">Details</a>