<h3><%= @donations.raffle.name%></h3>

<p>Number of Tickets: <%=@donation.number_of_tickets%></p>
<P>Name of Raffle: <%=@donations.name_of_raffle%></p>
<a href="<%=raffle_path(@donation.raffle)%>">Details</a>